# Assignment No.2

## Laiba Laeeq

 ### *Declare and print a variable with the name \"name\" containing your name*

In [1]:
Name = "Laiba Laeeq"
print(Name)

Laiba Laeeq


  ### *Create two variables, x and y, and swap their values without using a third variable*

In [67]:
x=25
y=62
x, y = y, x
print("x=",x)
print("y=",y)

x= 62
y= 25

### *Calculate the area of a rectangle with length and width stored in variables*

In [6]:
Lenght=6
Width=12
Area=Lenght*Width
print(Area)

72

### *Create a variable with a long string (multi-line) and print its length*

In [9]:
a=""""Data science is an interdisciplinary academic field that uses statistics, scientific computing, scientific methods,
processes, algorithms and systems to extract or extrapolate knowledge
and insights from noisy, structured, and unstructured data"""
print(a)
len(a)

"Data science is an interdisciplinary academic field that uses statistics, scientific computing, scientific methods,
processes, algorithms and systems to extract or extrapolate knowledge
and insights from noisy, structured, and unstructured data

245

### *Create a variable to store your favorite number and print it*

In [15]:
Z=49
print(Z)

49

### *Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter*

In [18]:
x=12
y=6
z=8
Perimeter=(x+y+z)
print(Perimeter)

26

### *Store the price of an item in one variable and the quantity in another. Calculate and print the total cost*

In [20]:
item_price=42
quantity=4
total_cost=(item_price*quantity)
print(total_cost)

168

### *Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius*

In [24]:
pie=3.14
r=10
cir=(2*pie*r)
print(cir)

62.800000000000004

### *Calculate the sum of two numbers, a and b*

In [25]:
a=34
b=33
sum=a+b
print(sum)

67

### *Calculate the product of two numbers, a and b*

In [26]:
a=4
b=7
product=a*b
print(product)

28

### *Calculate the result of dividing a by b (with proper error handling for division by zero)*

In [28]:
a=64
b=0
div=a/b
print(div)

ZeroDivisionError: division by zero

### *Calculate the square of a number x*

In [33]:
x=6
square=6**2
print(square)

36

### *Calculate the remainder when a is divided by b*

In [38]:
a=60
b=7
Rem=a%b
print(Rem)

4


### *Calculate the result of dividing 17 by 3 and print the quotient and remainder*

In [62]:
a=77
b=5
Rem=a%b
print("Rem",Rem)
Quot=a/b
print("Quot",Quot)

Rem 2
Quot 15.4

### *Calculate the area of a square with a given side length*

In [55]:
side=4
Area=side*side
print(Area)

16

### *Calculate the average of five numbers*

In [56]:
num1=5
num2=10
num3=15
num4=20
num5=25
Average=(num1+num2+num3+num4+num5)/5
print(Average)

15.0

### *Create a variable with a boolean value and print its opposite value*

In [75]:
value = True
opp_value = not value
print(opp_value)

False

### *Store your birth year in a variable and calculate your age*

In [76]:
birth_year=2000
current_year=2023
age=current_year-birth_year
print(age)

23

### *Create a variable with an integer and convert it to a float*

In [83]:
a=5
type(a)

int

In [90]:
a=float(a)
print(a)

5.0

In [93]:
type(a)

float

### *Create a variable with a float and convert it to an integer*

In [91]:
b=62.7
type(b)

float

In [92]:
b=int(b)
print(b)

62

In [94]:
type(b)

int

### *Create a variable with a string that represents an integer and convert it to an integer*

In [95]:
x="8964"
type(x)

str

In [96]:
x=int(x)
print(x)

8964

In [97]:
type(x)

int

### *Create a variable with a string that represents a float and convert it to a float*

In [98]:
y="875.796"
type(y)

str

In [99]:
y=float(y)
print(y)

875.796

In [100]:
type(y)

float

### *Create a variable with a number and convert it to a string*

In [103]:
a=67
type(a)

int

In [105]:
a=str(a)
print(a)

67

In [106]:
type(a)

str

### *Calculate the absolute value of a number*

In [107]:
y=-68782
y=abs(y)
print(y)

68782

### *Calculate the square root of a number*

In [111]:
b=64
square_root=b**0.5
print(square_root)

8.0

### *Calculate the value of a raised to the power of b*

In [114]:
a=6
b=3
power=a**b
print(power)

216

### *Round a float to the nearest integer*

In [116]:
float_value=657.735
round_int=round(float_value)
print(round_int)

658

### *Combine multiple conditions using logical operators and print the result*

In [137]:
x=7
y=4
A =x>5 
B =y<2
result=(A or B)
print(result)

True

In [138]:
A=x<5
B=y>2
result=(A and B)
print(result)

False

In [139]:
A=x<5
B=y>2
result=(not(A==b))
print(result)

True

### *Generate a random number between 1 and 100*

In [143]:
import random
Random_num=random.randint(1,100)
print(Random_num)

58